@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900,500,600,800|Pacifico:400|Montserrat+Alternates:700");

.x16 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.barra {
  background-color: black;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group3 {
  height: 832px;
  position: relative;
  width: 375px;
}

.overlap-group1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6265e22e685a02b982c91657/releases/6265e2a1355443b5781191d2/img/image-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  left: 15px;
  min-width: 345px;
  padding-left: 0px 0px;
  position: absolute;
  top: 125px;
}

.mudas-da-memontserrat-bold-white-20px{
  font-family: Montserrat;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.icons8-gota-de-sangue-96 {
  height: 36px;
  margin-left: 86px;
  object-fit: cover;
  width: 36px;
}

.varanda {
  letter-spacing: 0;
  min-height: 25px;
  width: 197px;
}

.user-2 {
  cursor: pointer;
  height: 28px;
  left: 298px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 25px;
}

.overlap-group {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6265e22e685a02b982c91657/releases/6265e2a1355443b5781191d2/img/image-1-2@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  left: 15px;
  min-width: 344px;
  position: absolute;
  top: 285px;
}

.hortinha {
  letter-spacing: 0;
  min-height: 25px;
  width: 197px;
}

.hortinhamontserrat-bold-white-20px{
  font-family: Montserrat;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.mais-1-1 {
  height: 71px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 606px;
  width: 71px;
}

.vaso-de-planta {
  cursor: pointer;
  height: 28px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 25px;
}

.b-ase {
  background-color: 
#80ae89;
  height: 68px;
  left: 0;
  position: relative;
  top: 764px;
  width: 375px;
}

.group-42 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 130px;
  left: 19px;
  min-width: 339px;
  position: absolute;
  top: 448px;
}

.overlap-group2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6265e22e685a02b982c91657/releases/6265e2a1355443b5781191d2/img/suculentas-12@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 138px;
  justify-content: flex-end;
  margin-bottom: -8px;
  margin-left: -4px;
  min-width: 345px;
  padding: 0px 0px;
}

.varandamontserrat-bold-white-20px{
  font-family: Montserrat;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-left: 5px;
}

.mudas-da-me {
  letter-spacing: 0;
  min-height: 25px;
  width: 197px;
}

.rectangle-100 {
  background-color: 
#f2e6be;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.plano-de-fundo-amarelo {
  height: 812px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.calendrio {
  cursor: pointer;
  height: 28px;
  left: 176px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 25px;
}

.title {
  color: 
#437c56;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 267px;
}

:root {
  --black-2: 
rgba(0, 0, 0, 0.251);
  --black: 
rgba(0, 0, 0, 1);
  --stromboli: 
rgba(50, 93, 64, 0.2);
  --stromboli-2: 
rgba(50, 93, 64, 1);
  --tuatara-2: 
rgba(54, 66, 50, 0.769);
  --tuatara: 
rgba(54, 66, 50, 1);
  --killarney: 
rgba(55, 103, 71, 1);
  --goblin: 
rgba(67, 124, 85, 0.349);
  --goblin-2: 
rgba(67, 124, 85, 0.62);
  --amazon: 
rgba(67, 124, 86, 1);
  --fruit-salad: 
rgba(82, 153, 106, 1);
  --finlandia: 
rgba(89, 109, 82, 1);
  --finlandia-2: 
rgba(94, 109, 89, 1);
  --chicago: 
rgba(95, 95, 95, 1);
  --bay-leaf: 
rgba(128, 174, 137, 1);
  --envy:
  --pipi: 
rgba(255, 243, 203, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xxxxs: 14px;
  --font-size-xxxs: 15px;
  --font-size-xxs: 16px;
  --font-size-xs: 17px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 30px;

  --font-family-montserrat: "Montserrat";
  --font-family-montserrat_alternates: "Montserrat Alternates";
  --font-family-pacifico: "Pacifico";
}

